.wrapper {
  margin: 15px 0 0 0;
  overflow-y: auto;
}

.taken {
  font-weight: 600;
  color: white;
  background-color: rgba(255, 0, 0, 0.8);
}

.empty {
  font-weight: 600;
  color: white;
  background-color: rgba(0, 128, 0, 0.8);
}
